---
layout: default
---
<div class="pure-u-5-5">
	<h1>Getting Started</h1>
	<p>
		The Nativo API provides a programmatic way to access and update data on the Nativo Platform. The API guide is intended for developers that need to interact with campaign, ad, and placement level metrics not limited to ad serving data such as impressions, clicks, social data, etc.
	</p>
	<p>
		Nativo services makes it easy to integrate campaign and ad metrics into applications and reporting systems. Include a variety of deep analytics directly into your system by using Nativo’s endpoint as the primary basis for your reporting layer.
	</p>
</div>