---
layout: default
---
<div class="pure-u-5-5">
	<h1>Publisher Onboarding</h1>
	<p>
		Nativo works with hundreds of publishers and powers the native ads for some of the most recognized media companies in the world. Nativo is uniquely focused on true native executions: contextually aligned, displayed in the editorial feed, and with the branded content consumed within each publication.
	</p>
	<ul>
		<li>Scale a single campaign across multiple properties</li>
		<li>Centralized control, delivery, and reporting</li>
		<li>Deploy native advertising in hours, not weeks</li>
		<li>Cross-screen deployment and optimization</li>
	</ul>
	<p><img src="/img/Publisher_Onboarding.png" alt=""></p>
</div>