---
layout: default
---
<div class="pure-u-5-5">
    <h1>Report Entities</h1>

    <p>
        Report entities can be used for filtering or breaking down reports.
    </p>

    <table class="pure-table entities">
        <thead>
            <tr>
                <th>Breakdown/Filters</th>
                <th></th>
                <th>Direct</th>
                <th>Managed</th>
                <th>Preferred</th>
                <th>Marketplace</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>advertiser</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>campaign</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>budget</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>ad</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>ad_type</td>
                <td></td>
                <td></td>
                <td>YES</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>ad_variation</td>
                <td><strong>(deprecated)</strong></td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>ad_headline</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>ad_preview_image</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>ad_content</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>publisher</td>
                <td></td>
                <td>YES</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>publication</td>
                <td></td>
                <td>YES</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>publication_url</td>
                <td><strong>Requires</strong> publication</td>
                <td>YES</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>placement</td>
                <td></td>
                <td>YES</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>category</td>
                <td>Placement vertical</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>device</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>country</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>region</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>dma</td>
                <td></td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
            </tr>
        </tbody>
    </table>
</div>